{% extends 'sign/lw-log.html' %}
{% block title %}
    LeeBlog 错误
{% endblock %}

{% block button %}
    <a href="{% url 'sign:login' %}">
        <button type="button" class="am-btn am-btn-default am-radius log-button">登 录</button>
    </a>
    <a href="{% url 'sign:register' %}">
        <button type="button" class="am-btn am-btn-default am-radius log-button">注 册</button>
    </a>
{% endblock %}

{% block content %}
    <div class="log">
        <div class="am-g">
            <div class="am-u-lg-3 am-u-md-6 am-u-sm-8 am-u-sm-centered log-content">
                <h1 class="log-title am-animation-slide-top">{{ error }}</h1>
                <br>
                {% if error == '邮箱未激活' %}
                    <a href="{% url 'sign:register' %}">
                        <button type="button" class="am-btn am-btn-default am-radius log-button">激活邮箱</button>
                    </a>
                {% endif %}
            </div>
        </div>
        <footer class="log-footer">
            © 2014 AllMobilize, Inc. Licensed under MIT license.
        </footer>
    </div>
{% endblock %}