<!doctype html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{ article_html.title }} - LeeBlog</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="{% static 'i/favicon.png' %}">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="{% static 'i/app-icon72x72@2x.png' %}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="{% static 'i/app-icon72x72@2x.png' %}">
    <meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">
    <link rel="stylesheet" href="{% static 'css/amazeui.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    {# markdown-body区域的css样式 #}
    <link rel="stylesheet" href="{% static 'markdown_article/markdown-body.css' %}">
    {# highlight.js代码高亮 #}
    <link rel="stylesheet" href="{% static 'markdown_article/styles/github.css' %}">
    <script src="{% static 'markdown_article/highlight.pack.js' %}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>

<body id="blog">
<!-- header start -->
<header class="am-g am-g-fixed blog-fixed blog-text-center blog-header">
    <div class="am-u-sm-8 am-u-sm-centered">
        <img width="200" src="http://s.amazeui.org/media/i/brand/amazeui-b.png" alt="Amaze UI Logo"/>
    </div>
</header>
<!-- header end -->
<hr>

<!-- nav start -->
<nav class="am-g am-g-fixed blog-fixed blog-nav">
    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only blog-button"
            data-am-collapse="{target: '#blog-collapse'}"><span class="am-sr-only">导航切换</span> <span
            class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse">
        <ul class="am-nav am-nav-pills am-topbar-nav">
            <li><a href="/index/">首页</a></li>
            <li><a href="lw-img.html">图片库</a></li>
            <li><a href="{% url 'console:table' %}">个人中心</a></li>
{#            <li><a href="lw-timeline.html">注销:{{ userinfo.name }}</a></li>#}
        </ul>
        {# 搜索表单提交 #}
        <form class="am-topbar-form am-topbar-right am-form-inline" role="search">
            <div class="am-form-group">
                <input type="text" class="am-form-field am-input-sm" placeholder="搜索">
            </div>
        </form>
    </div>
</nav>
<!-- nav end -->
<hr>
<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed blog-content">
    <div class="am-u-sm-12">
        <article class="am-article blog-article-p">
            <div class="am-article-hd">
                <h1 class="am-article-title blog-text-center">{{ article_html.title }}</h1>
                <p class="am-article-meta blog-text-center">
                    <span><a href="#" class="blog-color">{{ article_html.user }} &nbsp;</a></span>-
                    <span><a href="#">@{{ userinfo.name }} &nbsp;</a></span>-
                    <span><a href="#">{{ article_html.create_time }}</a></span>
                </p>
            </div>
            <div class="am-u-lg-4 am-u-md-5 am-u-sm-7 am-u-sm-centered blog-text-center">
                <span class="am-icon-tags"> &nbsp;</span>
                {# 文章标签 #}
                <a href="#">标签</a> , <a href="#">TAG</a> , <a href="#">啦啦</a>
                <hr>
            </div>
            <div class="markdown-body">
                {{ article_html.article|safe }}
            </div>
        </article>

        {#<div class="am-u-lg-4 am-u-md-5 am-u-sm-7 am-u-sm-centered blog-text-center">#}
        {# 联系作者 #}
        {#<a href=""><span class="am-icon-qq am-icon-fw am-primary blog-icon"></span></a>#}
        {#<a href=""><span class="am-icon-wechat am-icon-fw blog-icon"></span></a>#}
        {#<a href=""><span class="am-icon-weibo am-icon-fw blog-icon"></span></a>#}
        {#</div>#}
        <hr>
        <div class="am-g blog-author blog-article-margin">
            <div class="am-u-sm-9 am-u-md-9 am-u-lg-10">
                <h3><span>作者 &nbsp;: &nbsp;</span><span
                        class="blog-color">{{ article_html.user }} | {{ userinfo.name }}</span></h3>
                <p>{{ userinfo.introduction }}</p>
            </div>
        </div>
{#        <hr>#}
        {# 页码的ul #}
{#        <ul class="am-pagination blog-article-margin">#}
{#            <li class="am-pagination-prev"><a href="#" class="">&laquo; 一切的回顾</a></li>#}
{#            <li class="am-pagination-next"><a href="">不远的未来 &raquo;</a></li>#}
{#        </ul>#}

{#        <hr>#}
        {# 发表评论form #}
{#        <form class="am-form am-g">#}
{#            <h3 class="blog-comment">评论</h3>#}
{#            <fieldset>#}
{#                <div class="am-form-group am-u-sm-4 blog-clear-left">#}
{#                    <input type="text" class="" placeholder="名字">#}
{#                </div>#}
{#                <div class="am-form-group am-u-sm-4">#}
{#                    <input type="email" class="" placeholder="邮箱">#}
{#                </div>#}
{##}
{#                <div class="am-form-group am-u-sm-4 blog-clear-right">#}
{#                    <input type="password" class="" placeholder="网站">#}
{#                </div>#}
{##}
{#                <div class="am-form-group">#}
{#                    <textarea class="" rows="5" placeholder="一字千金"></textarea>#}
{#                </div>#}
{##}
{#                <p>#}
{#                    <button type="submit" class="am-btn am-btn-default">发表评论</button>#}
{#                </p>#}
{#            </fieldset>#}
{#        </form>#}

        <hr>
    </div>
</div>
<!-- content end -->

<footer class="blog-footer">
    <div class="am-g am-g-fixed blog-fixed am-u-sm-centered blog-footer-padding">
        <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
            <h3>模板简介</h3>
            <p class="am-text-sm">这是一个使用amazeUI做的简单的前端模板。<br> 博客/ 资讯类 前端模板 <br> 支持响应式，多种布局，包括主页、文章页、媒体页、分类页等<br>嗯嗯嗯，不知道说啥了。外面的世界真精彩<br><br>
                Amaze UI 使用 MIT 许可证发布，用户可以自由使用、复制、修改、合并、出版发行、散布、再授权及贩售 Amaze UI 及其副本。</p>
        </div>
        <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
            <h3>社交账号</h3>
            <p>
                <a href=""><span class="am-icon-qq am-icon-fw am-primary blog-icon blog-icon"></span></a>
                <a href=""><span class="am-icon-github am-icon-fw blog-icon blog-icon"></span></a>
                <a href=""><span class="am-icon-weibo am-icon-fw blog-icon blog-icon"></span></a>
                <a href=""><span class="am-icon-weixin am-icon-fw blog-icon blog-icon"></span></a>
            </p>
            <h3>Credits</h3>
            <p>我们追求卓越，然时间、经验、能力有限。Amaze UI 有很多不足的地方，希望大家包容、不吝赐教，给我们提意见、建议。感谢你们！</p>
        </div>
        <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
            <h1>我们站在巨人的肩膀上</h1>
            <h3>Heroes</h3>
            <p>
            <ul>
                <li>jQuery</li>
                <li>Zepto.js</li>
                <li>Seajs</li>
                <li>LESS</li>
                <li>...</li>
            </ul>
            </p>
        </div>
    </div>
    <div class="blog-text-center">© 2015 AllMobilize, Inc. Licensed under MIT license. Made with love By
        LWXYFER
    </div>
</footer>


<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/amazeui.min.js' %}"></script>
</body>
</html>