{% extends 'console/base_admin.html' %}
{% block title %}后台管理-个人信息{% endblock %}
{% block link %}
    <script>
        $(document).ready(function () {
            $('.button_form').click(function () {
                var $button = $(this);
                $button.button('loading');
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: '{% url 'console:user' %}',
                    data: $('.user_info_form').serialize(),
                    success: function (result) {
                        if (result.resultCode == 200) {
                            alert()
                        }
                        if (result.resultCode == 201) {

                        }
                        $button.button('reset');
                    },
                    error: function () {
                        $button.button('reset');
                    }
                });
            });
        });
    </script>
{% endblock %}
{% block content %}
    {% load gravatar %}
    <!-- content start -->
    <div class="admin-content">
        <div class="am-cf am-padding">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">个人资料</strong> /
                <small>Personal information</small>
            </div>
        </div>

        <hr/>

        <div class="am-g">

            <div class="am-u-sm-12 am-u-md-4 am-u-md-push-8">
                <div class="am-panel am-panel-default">
                    <div class="am-panel-bd">
                        <div class="am-g">
                            <div class="am-u-md-4">
                                <img class="am-img-circle am-img-thumbnail"
                                     src="{{ user_info.user.username|gravatar_get_image }}"
                                     alt=""/>
                            </div>
                            <div class="am-u-md-8">
                                <p>你可以使用<a href="#">gravatar.com</a>提供的头像或者使用本地上传头像。 </p>
                                <form class="am-form">
                                    <div class="am-form-group">
                                        <input type="file" id="user-pic">
                                        <p class="am-form-help">请选择要上传的文件...</p>
                                        <button type="button" class="am-btn am-btn-primary am-btn-xs">保存</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="am-panel am-panel-default">
                    <div class="am-panel-bd">
                        <div class="user-info">
                            <p>等级信息</p>
                            <div class="am-progress am-progress-sm">
                                <div class="am-progress-bar" style="width: 60%"></div>
                            </div>
                            <p class="user-info-order">当前等级：<strong>LV8</strong> 活跃天数：<strong>587</strong>
                                距离下一级别：<strong>160</strong></p>
                        </div>
                        <div class="user-info">
                            <p>信用信息</p>
                            <div class="am-progress am-progress-sm">
                                <div class="am-progress-bar am-progress-bar-success" style="width: 80%"></div>
                            </div>
                            <p class="user-info-order">信用等级：正常当前 信用积分：<strong>80</strong></p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="am-u-sm-12 am-u-md-8 am-u-md-pull-4">
                <form class="user_info_form am-form am-form-horizontal">
                    {% csrf_token %}
                    <div class="am-form-group">
                        <label for="user-name" class="am-u-sm-3 am-form-label">姓名 / Name</label>
                        <div class="am-u-sm-9">
                            <input type="text" name="user-name" maxlength="30" placeholder="姓名 / Name"
                                   value="{{ user_info.name }}">
                            <small>输入你的名字，让我们记住你。</small>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="user-QQ" class="am-u-sm-3 am-form-label">QQ</label>
                        <div class="am-u-sm-9">
                            <input type="email" name="user-qq" maxlength="15" placeholder="输入你的QQ号码"
                                   value="{{ user_info.qq_id }}">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="user-github" class="am-u-sm-3 am-form-label">GitHub</label>
                        <div class="am-u-sm-9">
                            <input type="email" name="user-github" maxlength="50" placeholder="输入你的GitHub账号 / GitHub"
                                   value="{{ user_info.github_id }}">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="user-wechat" class="am-u-sm-3 am-form-label">微信 / WeChat</label>
                        <div class="am-u-sm-9">
                            <input type="email" name="user-wechat" maxlength="50" placeholder="输入你的微信账号 / WeChat"
                                   value="{{ user_info.wechat_id }}">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="user-weibo" class="am-u-sm-3 am-form-label">微博 / WeiBo</label>
                        <div class="am-u-sm-9">
                            <input type="email" name="user-weibo" maxlength="50" placeholder="输入你的微博 / WeiBo"
                                   value="{{ user_info.weibo_id }}">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="user-intro" class="am-u-sm-3 am-form-label">简介 / Intro</label>
                        <div class="am-u-sm-9">
                            <textarea name="user-intro" class="" rows="5" id="user-intro" maxlength="250"
                                      placeholder="输入个人简介">{{ user_info.introduction }}</textarea>
                            <small>250字以内写出你的一生...</small>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <div class="am-u-sm-9 am-u-sm-push-3">
                            <button type="button"
                                    class="button_form am-btn am-btn-primary am-btn-default btn-loading-example">
                                保存修改
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- content end -->
{% endblock %}