{% extends 'console/base_admin.html' %}
{% block title %}后台管理-Markdown编辑器{% endblock %}
{% block link %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'markdown_editor/css/editormd.css' %}"/>
    <script src="{% static 'markdown_editor/js/editormd.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#button_form').find('button').click(function () {
                var json_data = $('#markdown_form').serialize();
                json_data = "button_name=" + $(this).prop('name') + "&" + json_data;
                console.log(json_data);
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "{% url 'console:form' %}",
                    data: json_data,
                    success: function (result) {
                        if (result.resultCode == 200) {
                            alert("保存成功！");
                        }
                        else if (result.resultCode == 304) {
                            alert("已发布！");
                            window.location.href = "{% url 'index:index' %}";
                        }
                        else if (result.resultCode == 501) {
                            alert("请输入标题")
                        }
                        else if (result.resultCode == 502) {
                            alert("请输入内容")
                        }
                    },
                    error: function () {
                        alert("保存异常！");
                    }
                });
            });
        });
    </script>
{% endblock %}
{% block content %}
    <!-- content start -->
    <div class="markdown-content am-form am-form-horizontal">
        <form id="markdown_form" method="post" action="{% url 'console:form' %}">
            {% csrf_token %}
            <div class="am-margin" id="button_form">
                <button type="button" name="submit" value="True"
                        class="am-btn am-btn-primary am-btn-xs">发布
                </button>
                <button type="button" name="save" value="True"
                        class="am-btn am-btn-primary am-btn-xs">保存
                </button>
                <input type="text" name="title" placeholder="请输入标题（30字以内）">
            </div>

            <div id="test-editormd">
                <textarea style="display:none;"></textarea>
            </div>
        </form>
        {% load staticfiles %}
        <script type="text/javascript">
            var testEditor;
            $(function () {
                testEditor = editormd("test-editormd", {
                    width: "100%",
                    height: 650,
                    path: "{% static 'markdown_editor/md_lib/' %}",
                    // theme: "dark",
                    // previewTheme: "dark",
                    // editorTheme: "pastel-on-dark",
                    codeFold: true,
                    saveHTMLToTextarea: true,
                    searchReplace: true,
                    taskList: true,
                    tocm: true,

                    {# imageUpload参数在console/markdown_editor/plugins/image-dialog/image-dialog.js文件中进行if判断 #}
                    {# 利用其传参特性将csrf_token传入image-dialog.js文件进行form表单生成 #}
                    imageUpload: "{% csrf_token %}",

                    imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                    imageUploadURL: "{% url 'console:upload_image' %}",
                });
            });
        </script>
    </div>
    <!--content end-->
{% endblock %}