<!doctype>
{% load staticfiles %}
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}后台管理首页{% endblock %}</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="{% static 'console/i/favicon.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'console/i/app-icon72x72@2x.png' %}">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="{% static 'console/css/amazeui.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'console/css/admin.css' %}">

    {% block link %}
    {% endblock %}

</head>
<body>

<header class="am-topbar admin-header" data-am-sticky="{animation: 'slide-top'}" style="z-index: 8">
    <div class="am-topbar-brand">
        <strong>LeeBlog</strong>
        <small>后台管理</small>
    </div>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
            data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span
            class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
            <!--sidebar_to_top-->
            <li><a href="{% url 'console:index' %}"><span class="am-icon-home"></span> 首页</a></li>
            <li class="am-dropdownt" data-am-dropdown>
                <a class="am-dropdown-toggle" data-am-collapse="{target: '#collapse-nav'}"><span
                        class="am-icon-file"></span> 页面模块
                    <span class="am-icon-caret-down"></span></a>
                <ul class="am-dropdown-content">
                    <li><a href="{% url 'console:user' %}" class="am-cf"><span class="am-icon-check"></span> 个人资料</a>
                    </li>
                    <li><a href="{% url 'console:help' %}"><span class="am-icon-puzzle-piece"></span> 帮助页</a></li>
                    <li><a href="{% url 'console:gallery' %}"><span class="am-icon-th"></span> 相册页面</a></li>
                </ul>
            </li>
            <li><a href="{% url 'console:table' %}"><span class="am-icon-table"></span> 文章列表</a></li>
            <li><a href="{% url 'console:form' %}"><span class="am-icon-pencil-square-o"></span> Markdown编辑器</a></li>
            <li><a href="#"><span class="am-icon-sign-out"></span> 注销</a></li>
            <!--end sidebar_to_top-->
            <li class="am-dropdown" data-am-dropdown>
                <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                    <span class="am-icon-users"></span> 管理员 <span class="am-icon-caret-down"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li><a href="#"><span class="am-icon-user"></span> 资料</a></li>
                    <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
                    <li><a href="#"><span class="am-icon-power-off"></span> 退出</a></li>
                </ul>
            </li>
            <li><a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> <span
                    class="admin-fullText">开启全屏</span></a></li>
        </ul>
    </div>
</header>

<div class="am-cf admin-main">
    <!-- sidebar start -->
{#    <div class="admin-sidebar">#}
        {#        <ul class="am-list admin-sidebar-list ">#}
        {#            <li><a href="{% url 'console:index' %}"><span class="am-icon-home"></span> 首页</a></li>#}
        {#            <li class="admin-parent">#}
        {#                <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span> 页面模块#}
        {#                    <span class="am-icon-angle-right am-fr am-margin-right"></span></a>#}
        {#                <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">#}
        {#                    <li><a href="{% url 'console:user' %}" class="am-cf"><span class="am-icon-check"></span> 个人资料<span#}
        {#                            class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>#}
        {#                    <li><a href="{% url 'console:help' %}"><span class="am-icon-puzzle-piece"></span> 帮助页</a></li>#}
        {#                    <li><a href="{% url 'console:gallery' %}"><span class="am-icon-th"></span> 相册页面<span#}
        {#                            class="am-badge am-badge-secondary am-margin-right am-fr">24</span></a></li>#}
        {#                </ul>#}
        {#            </li>#}
        {#            <li><a href="{% url 'console:table' %}"><span class="am-icon-table"></span> 文章列表</a></li>#}
        {#            <li><a href="{% url 'console:form' %}"><span class="am-icon-pencil-square-o"></span> Markdown编辑器</a></li>#}
        {#            <li><a href="#"><span class="am-icon-sign-out"></span> 注销</a></li>#}
        {#        </ul>#}

{#        <div class="am-panel am-panel-default admin-sidebar-panel">#}
{#            <div class="am-panel-bd">#}
{#                <p><span class="am-icon-bookmark"></span> 公告</p>#}
{#                <p>时光静好，与君语；细水流年，与君同。—— Amaze</p>#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="am-panel am-panel-default admin-sidebar-panel">#}
{#            <div class="am-panel-bd">#}
{#                <p><span class="am-icon-tag"></span> wiki</p>#}
{#                <p>Welcome to the Amaze wiki!</p>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
    <!-- sidebar end -->

    {% block content %}
        <!-- content start -->
        <div class="admin-content">

            <div class="am-cf am-padding">
                <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">首页</strong> /
                    <small>一些常用模块</small>
                </div>
            </div>

            <ul class="am-avg-sm-1 am-avg-md-4 am-margin am-padding am-text-center admin-content-list ">
                <li><a href="#" class="am-text-success"><span
                        class="am-icon-btn am-icon-file-text"></span><br/>草稿<br/>2300</a></li>
                <li><a href="#" class="am-text-warning"><span
                        class="am-icon-btn am-icon-briefcase"></span><br/>发布<br/>308</a></li>
                <li><a href="#" class="am-text-danger"><span class="am-icon-btn am-icon-recycle"></span><br/>访问量<br/>80082</a>
                </li>
                <li><a href="#" class="am-text-secondary"><span
                        class="am-icon-btn am-icon-user-md"></span><br/>注册用户<br/>3000</a></li>
            </ul>

            <div class="am-g">
                <div class="am-panel am-panel-default">
                    <div class="am-panel-hd am-cf" data-am-collapse="{target: '#collapse-panel-3'}">最近留言<span
                            class="am-icon-chevron-down am-fr"></span></div>
                    <div class="am-panel-bd am-collapse am-in am-cf" id="collapse-panel-3">
                        <ul class="am-comments-list admin-content-comment">
                            <li class="am-comment">
                                <a href="#"><img
                                        src="http://amui.qiniudn.com/bw-2014-06-19.jpg?imageView/1/w/96/h/96" alt=""
                                        class="am-comment-avatar" width="48" height="48"></a>
                                <div class="am-comment-main">
                                    <header class="am-comment-hd">
                                        <div class="am-comment-meta"><a href="#" class="am-comment-author">某人</a>
                                            评论于
                                            <time>2014-7-12 15:30</time>
                                        </div>
                                    </header>
                                    <div class="am-comment-bd"><p>遵循 “移动优先（Mobile First）”、“渐进增强（Progressive
                                        enhancement）”的理念，可先从移动设备开始开发网站，逐步在扩展的更大屏幕的设备上，专注于最重要的内容和交互，很好。</p>
                                    </div>
                                </div>
                            </li>

                            <li class="am-comment">
                                <a href="#"><img
                                        src="http://amui.qiniudn.com/bw-2014-06-19.jpg?imageView/1/w/96/h/96" alt=""
                                        class="am-comment-avatar" width="48" height="48"></a>
                                <div class="am-comment-main">
                                    <header class="am-comment-hd">
                                        <div class="am-comment-meta"><a href="#" class="am-comment-author">某人</a>
                                            评论于
                                            <time>2014-7-12 15:30</time>
                                        </div>
                                    </header>
                                    <div class="am-comment-bd"><p>有效减少为兼容旧浏览器的臃肿代码；基于 CSS3
                                        的交互效果，平滑、高效。AMUI专注于现代浏览器（支持HTML5），不再为过时的浏览器耗费资源，为更有价值的用户提高更好的体验。</p>
                                    </div>
                                </div>
                            </li>

                        </ul>
                        <ul class="am-pagination am-fr admin-content-pagination">
                            <li class="am-disabled"><a href="#">&laquo;</a></li>
                            <li class="am-active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- content end -->
    {% endblock %}

</div>

<footer>
    <hr>
    <p class="am-padding-left">© 2018 AllMobilize, Inc. Licensed under MIT license. <a
            href="#" target="_blank">liduo</a></p>
</footer>

<!--[if lt IE 9]>
<script src="user_admin/js/jquery1.11.1.min.js"></script>
<script src="user_admin/js/modernizr.js"></script>
<script src="user_admin/js/polyfill/rem.min.js"></script>
<script src="user_admin/js/polyfill/respond.min.js"></script>
<script src="user_admin/js/amazeui.legacy.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="{% static 'console/js/jquery.min.js' %}"></script>
<script src="{% static 'console/js/amazeui.min.js' %}"></script>
<!--<![endif]-->
<script src="{% static 'console/js/app.js' %}"></script>
</body>
</html>
