<!doctype>
{% load staticfiles %}
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="{% static 'console/i/favicon.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'console/i/app-icon72x72@2x.png' %}">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="{% static 'console/css/amazeui.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'console/css/admin.css' %}">

    {% block link %}
    {% endblock %}

</head>
<body>

<header class="am-topbar admin-header" data-am-sticky="{animation: 'slide-top'}" style="z-index: 8">
    <div class="am-topbar-brand">
        <strong>LeeBlog</strong>
        <small>后台管理</small>
    </div>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
            data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span
            class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
            <!--sidebar_to_top-->
            <li><a href="/index/"><span class="am-icon-home"></span> 首页</a></li>
            <li class="am-dropdownt" data-am-dropdown>
                <a class="am-dropdown-toggle" data-am-collapse="{target: '#collapse-nav'}"><span
                        class="am-icon-file"></span> 页面模块
                    <span class="am-icon-caret-down"></span></a>
                <ul class="am-dropdown-content">
                    <li><a href="{% url 'console:user' %}" class="am-cf"><span class="am-icon-check"></span> 个人资料</a>
                    </li>
                    <li><a href="{% url 'console:help' %}"><span class="am-icon-puzzle-piece"></span> 帮助页</a></li>
                    <li><a href="{% url 'console:gallery' %}"><span class="am-icon-th"></span> 相册页面</a></li>
                </ul>
            </li>
            <li><a href="{% url 'console:table' %}"><span class="am-icon-table"></span> 文章列表</a></li>
            <li><a href="{% url 'console:form' %}"><span class="am-icon-pencil-square-o"></span> Markdown编辑器</a></li>
            <li><a href="#"><span class="am-icon-sign-out"></span> 注销</a></li>
            <!--end sidebar_to_top-->
            <li class="am-dropdown" data-am-dropdown>
                <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                    <span class="am-icon-users"></span> 管理员 <span class="am-icon-caret-down"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li><a href="#"><span class="am-icon-user"></span> 资料</a></li>
                    <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
                    <li><a href="#"><span class="am-icon-power-off"></span> 退出</a></li>
                </ul>
            </li>
            <li><a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> <span
                    class="admin-fullText">开启全屏</span></a></li>
        </ul>
    </div>
</header>

<div class="am-cf admin-main">

    {% block content %}
    {% endblock %}

</div>

<footer>
    <hr>
    <p class="am-padding-left">© 2018 AllMobilize, Inc. Licensed under MIT license. <a
            href="#" target="_blank">liduo</a></p>
</footer>
<script src="{% static 'console/js/jquery.min.js' %}"></script>
<script src="{% static 'console/js/amazeui.min.js' %}"></script>
<script src="{% static 'console/js/app.js' %}"></script>
</body>
</html>
