<!doctype>
{% load staticfiles %}
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="{% static 'i/favicon.ico' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'i/favicon.ico' %}">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="{% static 'css/amazeui.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    {% block link %}
    {% endblock %}

</head>
<body>

<header class="am-topbar admin-header" data-am-sticky="{animation: 'slide-top'}" style="z-index: 8">
    <div class="am-topbar-brand">
        <strong>LeeBlog</strong>
        <small>后台管理</small>
    </div>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
            data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span
            class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
            <!--sidebar_to_top-->
            <li><a href="/index/"><span class="am-icon-home"></span> 首页</a></li>
            <li><a href="{% url 'console:user' %}" class="am-cf"><span class="am-icon-check"></span> 个人资料</a>
            <li><a href="{% url 'console:gallery' %}"><span class="am-icon-th"></span> 图片列表</a></li>
            <li><a href="{% url 'console:table' %}"><span class="am-icon-table"></span> 文章列表</a></li>
            <li><a href="{% url 'console:form' %}"><span class="am-icon-pencil-square-o"></span> Markdown编辑器</a></li>
            <li><a href="{% url 'sign:logout' %}"><span class="am-icon-arrow-circle-o-right"></span> 注销</a></li>
            <!--end sidebar_to_top-->
        </ul>
    </div>
</header>

<div class="am-cf admin-main">

    {% block content %}
    {% endblock %}

</div>

<footer>
    <hr>
    <p class="am-padding-left">© 2018 AllMobilize, Inc. Licensed under MIT license. <a
            href="#" target="_blank">liduo</a></p>
</footer>
<script src="{% static 'js/amazeui.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
{% block js %}
{% endblock %}
</body>
</html>
