{% extends 'index/lw-index-noslider.html' %}
{% block content %}
    <!-- content srart -->
    <div class="am-g am-g-fixed blog-fixed blog-content">
        <figure data-am-widget="figure" class="am am-figure am-figure-default " data-am-figure="{  pureview: 'true' }">
            <div id="container">
                {% for image in images %}
                <div><img src="{{ image.image.url }}">
                    <h3>{{ image.title }}</h3></div>
                {% endfor %}
            </div>
        </figure>

    </div>
    <!-- content end -->
{% endblock %}
{% block js %}
    {% load staticfiles %}
    <script src="{% static 'js/pinto.min.js' %}"></script>
    <script src="{% static 'js/img.js' %}"></script>
{% endblock %}